/* vue3-progress */
.vue3-progress-bar-container .vue3-progress-bar {
  height: 3px; /* altura */
  background-color: #0061f2; /* color de fondo */
}

/* vue-select */
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  padding: 6.819px;
  font-size: 14px;
  border-color: #c5ccd6;
  border-radius: 0.35rem;
  color: #69707a;
}

.vs__dropdown-toggle:focus {
  
  border-color: green !important;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #69707a;
}
.style-chooser .vs__selected {
  color: #69707a;
}

/* correcion de estilos para iconos vue-feather */
.fixed-btn-transparent-dark {
  background-color: transparent !important;
  border-color: transparent !important;
}
.fixed-btn-transparent-dark:hover {
  background-color: rgba(33, 40, 50, 0.1) !important;
  border-color: transparent !important;
}
.fixed-btn-transparent-dark:focus {
  background-color: rgba(33, 40, 50, 0.1)!important;
  border-color: transparent !important;
}
.fixed-btn-transparent-dark:active {
  background-color: rgba(33, 40, 50, 0.2) !important;
  border-color: transparent !important;
}

/* datatable */
.datatable-field {
  display: inline-block !important; 
  width: auto !important; 
}

.datatable-table {
  font-size: 14px !important; 
}

.datatable-content {
  border-top: none !important; 
}

/* live search personalizado */
.jc-live-search {
  position: absolute;
  width: 100%;
}

.jc-live-search {
  position: absolute;
  
}

.jc-live-search .list-group {
  width: 100% !important;
  z-index: 1000;
}

